extends ../../assets/templates/layout

block vars
    - var pageDescription = 'Alarm form';
    - var pageKeywords = 'Alarm form';
    - var pageTitle = 'Alarm form';
    - var activeLink = '/alarm.html';

block intro
    +intro({
        title: 'Alarm form',
        subtitle: `
            <p>Below is an example of an «alarm» form using conditional fields.</p>

            <p>Start filling the form and watch how colored descriptions being appeared depending on the kind of building selected.</p>

            <p>Submit the form and check what kind of data is being sent to the server.</p>
        `
    })

block form
    +b('form').form
        div.row
            div.col-md-6.mb-3
                .input-group
                    label(for="u1922")!= "Where do you want alarm?"

                    div(style="width: 100%;")
                        select.custom-select(id="u1922" name="type_of_alarm")
                            option(selected='') Choose...
                            option(value='house') House
                            option(value='apartment') Apartment
                            option(value='condominium') Multiple units (condominium)
                            option(value='other') Other

        div.row
            div.col-md-6.mb-3
                .alert.alert-primary(role='alert')
                    input(type="hidden" name="alert-primary" data-rules='[{"name": "type_of_alarm", "value": ["house"]}]')
                    p.mb-0!= "House alarm is a system designed to detect intrusion – unauthorized entry – into a building or area. They are also called security alarms, security systems, alarm systems, intrusion detection systems, perimeter detection systems, and similar terms."

        div.row
            div.col-md-6.mb-3
                .alert.alert-success(role='alert')
                    input(type="hidden" name="alert-success" data-rules='[{"name": "type_of_alarm", "value": ["apartment"]}]')
                    p.mb-0!= "Apartment alarm is a system designed to detect intrusion – unauthorized entry – into a building or area. They are also called security alarms, security systems, alarm systems, intrusion detection systems, perimeter detection systems, and similar terms."

        div.row
            div.col-md-6.mb-3
                .alert.alert-warning(role='alert')
                    input(type="hidden" name="alert-warning" data-rules='[{"name": "type_of_alarm", "value": ["condominium"]}]')
                    p.mb-0!= "Condominium alarm is a system designed to detect intrusion – unauthorized entry – into a building or area. They are also called security alarms, security systems, alarm systems, intrusion detection systems, perimeter detection systems, and similar terms."

        div.row
            div.col-md-6.mb-3
                .alert.alert-danger(role='alert')
                    input(type="hidden" name="alert-danger" data-rules='[{"name": "type_of_alarm", "value": ["other"]}]')
                    p.mb-0!= "A burglar alarm is a system designed to detect intrusion – unauthorized entry – into a building or area. They are also called security alarms, security systems, alarm systems, intrusion detection systems, perimeter detection systems, and similar terms."

        div.row
            div.col-md-6.mb-3
                label(for="n66y4")!= "Give a short description of your building"

                .input-group
                    textarea.form-control(name="description" id="n66y4" data-rules='[{"name": "type_of_alarm", "value": ["other"]}]')

        div.row
            div.col-md-6.mb-3
                label(for="9cssb")!= "Full Name"

                div.input-group
                    input(type="text" name="name" class="form-control" id="9cssb")

        div.row
            div.col-md-6.mb-3
                label(for="rnskl")!= "Email"

                div.input-group
                    div.input-group-prepend
                        span.input-group-text!= "@"

                    input(type="text" name="email" class="form-control" id="rnskl")

        div.row
            div.col-md-6.mb-3
                button.btn.btn-primary(type='submit') Submit form
